@import 'tailwindcss';

@theme {
  --color-maroon-primary: #780c28;
  --color-maroon-secondary: #361215;
  --color-white-primary: #ffffff;
}

@keyframes twinkle {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}